@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Bold.otf");
}

// src: url("../../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro%20-%20Regular.otf");
