@media screen and (min-width: 320px) {
  .header__wrapper {
    margin: 0 16px 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 169px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 24px 0 24px;
  }
}

@media screen and (min-width: 320px) {
  .header__button {
    background-color: #0095ff;
    color: #ffffff;
    font-family: "Avenir Next Regular";
    text-transform: uppercase;
    font-size: px-to-rem(14);
    line-height: px-to-rem(22);
    padding: 14px;
    border-color: #0095ff;
    border-radius: 4px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -o-object-fit: cover;
       object-fit: cover;
    height: 48px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 169px;
  }
}

@media screen and (min-width: 320px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .header__search {
    margin-right: 24px;
  }
}

@media screen and (min-width: 320px) {
  .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    rows: 1;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-image: url(../assets/Icons/PNG/Icon-search.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    padding-left: 30px;
  }
}

@media screen and (min-width: 320px) {
  .user__icon {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 20%;
    margin-left: 16px;
  }
}

.header__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

@media screen and (min-width: 320px) {
  .VideoList {
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .VideoList {
    margin: 0 24px 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 320px) {
  .side__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .side__videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 0 16px;
  }
}

.side__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .side__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.side__videos img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 10%;
}

.main-video img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 10%;
}

@media screen and (min-width: 320px) {
  .comments__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .comments__wrapper {
    margin: 0 24px 0 24px;
  }
}

.Userlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .Userlist .users__icon img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 5%;
  }
}

.comment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #afafaf;
}

@media screen and (min-width: 320px) {
  .comment__wrapper {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 320px) {
  .comment__wrapper__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 24px;
  }
}

@media screen and (min-width: 320px) {
  .comment__wrapper__container__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 320px) {
  .users__icon {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .users__icon img {
    max-width: 3rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .users__icon img {
    margin-right: 16px;
  }
}

@media screen and (min-width: 320px) {
  .hero__article {
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 320px) {
  .paragraph {
    margin: 24px 0 40px 0;
    color: #323232;
  }
  .paragraph h4 {
    font-family: "Avenir Next Regular";
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .header__wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .paragraph {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .info {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .labels {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #afafaf;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  h1.header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h2.header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 1rem;
    line-height: 4.25rem;
  }
  .paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .info {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */