@font-face {
  font-family: "Avenir Next Regular";
  src: local("Avenir Next Regular"), url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: local("Avenir Next Demi Bold"), url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: local("Avenir Next Bold"), url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Bold.otf") format("opentype");
}

@media screen and (min-width: 320px) {
  .header__wrapper {
    margin: 0 16px 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 169px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 24px 0 24px;
    height: 80px;
  }
}

@media screen and (min-width: 320px) {
  .header__button {
    background-color: #0095ff;
    color: #ffffff;
    font-family: "Avenir Next Demi Bold";
    text-transform: uppercase;
    font-size: px-to-rem(14);
    line-height: px-to-rem(22);
    padding: 14px;
    border-color: #0095ff;
    border-radius: 4px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -o-object-fit: cover;
       object-fit: cover;
    height: 48px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    margin-right: 169px;
  }
}

@media screen and (min-width: 320px) {
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .header__search {
    margin-right: 24px;
  }
}

@media screen and (min-width: 320px) {
  .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    rows: 1;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-image: url(../assets/Icons/PNG/Icon-search.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    padding-left: 30px;
  }
}

@media screen and (min-width: 320px) {
  .user__icon {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 20%;
    margin-left: 16px;
  }
}

@media screen and (min-width: 320px) {
  .header__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 320px) {
  .VideoList {
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .VideoList {
    margin: 0 24px 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 320px) {
  .side__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .side__wrapper {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 320px) {
  .side__videos img {
    width: 120px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
  }
}

.side__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .side__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .side__info {
    width: 235px;
    height: 70px;
  }
}

@media screen and (min-width: 320px) {
  .side__subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Avenir Next Bold";
    color: #323232;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 320px) {
  .side__paragraph {
    font-family: "Avenir Next Regular";
    color: #323232;
  }
}

@media screen and (min-width: 320px) {
  .side__labels {
    font-family: "Avenir Next Regular";
    padding: 40px 0 40px 0;
  }
}

@media screen and (min-width: 320px) {
  .comment__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media screen and (min-width: 768px) {
  .comment__wrapper {
    margin: 0 24px 0 24px;
    padding-bottom: 24px;
  }
}

.comment__text {
  max-width: 440px;
  max-height: 40px;
  padding: 16px;
  border-radius: 4px;
  padding-right: 4rem;
  font-family: "Avenir Next Regular";
  color: #323232;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 320px) {
  .comment__Label {
    text-transform: uppercase;
    font-family: "Avenir Next Demi Bold";
    color: #afafaf;
  }
}

@media screen and (min-width: 320px) {
  .comment__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .comment__subheader {
    padding-bottom: 32px;
    font-family: "Avenir Next Demi Bold";
    color: #323232;
  }
}

.conversation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 320px) {
  .conversation__wrapper {
    padding: 24px 0 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .conversation__wrapper {
    padding: 32px 0 32px 0;
  }
}

.conversation__container {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .conversation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .conversation__container {
    margin-right: 40px;
  }
}

@media screen and (min-width: 320px) {
  .conversation__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .conversation__info {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 320px) {
  .header {
    font-family: "Avenir Next Bold";
    color: #323232;
  }
}

@media screen and (min-width: 320px) {
  .comment__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .comment__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 320px) {
  .comment__form .comment__form-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .comment__form .comment__form-left {
    width: 100%;
    margin-bottom: 0;
  }
}

.comment__form .comment__form-right button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 524px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .comment__form .comment__form-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .comment__form .comment__form-right {
    width: 100%;
    margin-bottom: 0;
  }
  .comment__form .comment__form-right button {
    margin-right: 40px;
    margin-left: 16px;
  }
}

.comment__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .comment__button {
    text-align: center;
    border-color: #0095ff;
    background-color: #0095ff;
    color: #ffffff;
    font-family: "Avenir Next Demi Bold";
    text-transform: uppercase;
    font-size: px-to-rem(14);
    line-height: px-to-rem(22);
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
  }
}

@media screen and (min-width: 768px) {
  .comment__button {
    max-width: 160px;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 320px) {
  .conversation__subheader {
    font-family: "Avenir Next Demi Bold";
    color: #323232;
  }
}

@media screen and (min-width: 768px) {
  .conversation__subheader {
    padding-right: 8px;
  }
}

@media screen and (min-width: 320px) {
  .conversation__labels {
    font-family: "Avenir Next Regular";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #e1e1e1;
  }
}

@media screen and (min-width: 320px) {
  .conversation__paragraph {
    font-family: "Avenir Next Regular";
    color: #323232;
  }
}

@media screen and (min-width: 320px) {
  .comment__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .comment__icon img {
    margin-right: 16px;
    max-width: 5rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) and (min-width: 768px) {
  .comment__icon img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) {
  .users__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .users__icon img {
    margin-right: 16px;
    max-width: 4rem;
  }
}

@media screen and (min-width: 320px) {
  .UserList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .UserList {
    margin: 0 24px 0 24px;
  }
}

@media screen and (min-width: 320px) {
  .hero__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #323232;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    height: 183px;
  }
}

@media screen and (min-width: 320px) {
  .hero__mainVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .hero__mainVideo {
    margin: 0 24px 0 24px;
    max-width: 700px;
    max-height: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 320px) {
  .hero__header {
    margin-top: 32px;
  }
}

@media screen and (min-width: 320px) {
  .hero__text {
    margin: 0 16px 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    margin: 48px 24px 0 24px;
  }
}

@media screen and (min-width: 320px) {
  .hero__subheader {
    margin-right: 8px;
    height: auto;
    font-family: "Avenir Next Regular";
  }
}

@media screen and (min-width: 320px) {
  .hero__nameDate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 320px) {
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    border-bottom: 1px solid #e1e1e1;
  }
}

@media screen and (min-width: 768px) {
  .hero__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 24px;
    padding: 24px 0 24px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 320px) {
  .btn__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .btn__wrapper {
    padding: 0;
  }
}

.likes-btn {
  border-color: transparent;
  background-color: transparent;
}

.likes-btn img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.totalLikes {
  border-color: transparent;
  background-color: transparent;
  max-width: 4rem;
}

.views-btn {
  border-color: transparent;
  background-color: transparent;
}

.views-btn img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.totalViews {
  border-color: transparent;
  background-color: transparent;
  max-width: 4rem;
}

@media screen and (min-width: 320px) {
  .totalViews {
    margin-right: 24px;
  }
}

@media screen and (min-width: 320px) {
  .hero__paragraph {
    padding: 24px 0 40px 0;
    color: #323232;
    font-family: "Avenir Next Regular";
  }
}

@media screen and (min-width: 768px) {
  .hero__paragraph {
    margin-right: 12rem;
    padding: 40px 0 64px 0;
  }
}

@media screen and (min-width: 320px) {
  .hero__labels {
    font-family: "Avenir Next Regular";
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 320px) {
  .header__wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .paragraph {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .info {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .labels {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #afafaf;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  h1.header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  h2.header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .info {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */