@mixin mobile-breakpoint {
  @media screen and (min-width: $mobile) {
    h1.header {
      font-size: 24px;
      line-height: 32px;
    }
    h2.subheader {
      font-size: 14px;
      line-height: 22px;
    }
    h4.paragraph {
      font-size: 13px;
      line-height: 18px;
    }
    h4.info {
      font-size: 13px;
      line-height: 18px;
    }
    h5.lables {
      font-size: 12px;
      line-height: 20px;
    }
    //@content;
  }
}
@mixin tablet-breakpoint {
  @media screen and (min-width: $tablet) {
    h1.hero-header {
      font-size: 60px;
      line-height: 68px;
    }
    h1.header {
      font-size: 36px;
      line-height: 44px;
    }
    h2.header {
      font-size: 24px;
      line-height: 32px;
    }
    h3.subheader {
      font-size: 16px;
      line-height: 68px;
    }
    h4.paragraph {
      font-size: 14px;
      line-height: 22px;
    }
    h4.info {
      font-size: 14px;
      line-height: 20px;
    }
    //@content;
  }
}
@mixin desktop-breakpoint {
  @media screen and (min-width: $desk) {
    @content;
  }
}
