@font-face {
  font-family: "Avenir Next Regular";
  src: local("Avenir Next Regular"),
    url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Regular.otf")
      format("opentype");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: local("Avenir Next Demi Bold"),
    url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Demi.otf")
      format("opentype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: local("Avenir Next Bold"),
    url("./../assets/fonts/AvenirNextProLT/Linotype%20-%20AvenirNextLTPro-Bold.otf")
      format("opentype");
}
