// colors
$black: #323232;
$instoke-blue: #004892;
$brainflix-blue: #0095ff;
$white: #ffffff;
$silver: #afafaf;
$instock-blue-dark: #002f5f;
$brainflisx-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desk: 1440px;

//font-family
$regular: "Avenir Next Regular";
$demi: "Avenir Next Demi Bold";
$bold: "Avenir Next Bold";
