.VideoList {
  @include mobile-breakpoint {
    margin: 0 16px 0 16px;
  }
  @include tablet-breakpoint {
    margin: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
.side__wrapper {
  @include mobile-breakpoint {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 24px;

    @include tablet-breakpoint {
      padding-bottom: 24px;
    }
  }
}
.side__videos img {
  @include mobile-breakpoint {
    width: 120px;
    height: 70px;
    display: flex;
    border-radius: 4px;
  }
}

.side__info {
  display: flex;
  @include mobile-breakpoint {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
  @include tablet-breakpoint {
    width: 235px;
    height: 70px;
  }
}

.side__subheader {
  @include mobile-breakpoint {
    display: flex;
    font-family: $bold;
    color: $black;
    margin-bottom: 8px;
  }
}
.side__paragraph {
  @include mobile-breakpoint {
    font-family: $regular;
    color: $black;
  }
}

// .main-video img {
//   @include mobile-breakpoint {
//     display: flex;
//     object-fit: contain;
//     max-width: 10%;
//     border-radius: 4px;
//   }
// }

.side__labels {
  @include mobile-breakpoint {
    font-family: $regular;
    padding: 40px 0 40px 0;
  }
}
