@import "partials/_globalVariables";
@import "partials/_fonts";
@import "partials/_mixins";
@import "partials/_header";
@import "partials/_videoStyles";
@import "partials/_commentsStyles";
@import "partials/uploadPage";
@import "partials/detailsPage";
@import "partials/activeVideoPlayer";
html {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
}
@function px-to-rem($px) {
  @return ($px / 16) + rem;
}

@include mobile-breakpoint {
  .header {
    font-size: px-to-rem(24);
    line-height: px-to-rem(32);
    color: black;
  }

  .subheader {
    font-size: px-to-rem(14);
    line-height: px-to-rem(22);
  }

  .paragraph {
    font-size: px-to-rem(13);
    line-height: px-to-rem(18);
  }

  .info {
    font-size: px-to-rem(13);
    line-height: px-to-rem(18);
  }

  .labels {
    font-size: px-to-rem(12);
    line-height: px-to-rem(20);
    color: $silver;
    text-transform: uppercase;
  }
}

@include tablet-breakpoint {
  .header {
    font-size: px-to-rem(36);
    line-height: px-to-rem(44);
  }

  .subheader {
    font-size: px-to-rem(16);
    line-height: px-to-rem(24);
  }

  .paragraph {
    font-size: px-to-rem(14);
    line-height: px-to-rem(22);
  }

  .info {
    font-size: px-to-rem(14);
    line-height: px-to-rem(20);
  }
}

@include desktop-breakpoint {
  .header {
    font-size: px-to-rem(36);
    line-height: px-to-rem(44);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  display: flex;
}
